/* GENERALE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}
/* FINE GENERALE */

.container{
    width: 80%;
    margin: auto;
}

header{
    background-color: sandybrown;
    height: 100px;
    margin: 20px 0;
}


main{
    margin-bottom: 10px;
}

/* contenuto main */
.slider{
    background-color: lightgreen;
    height: 200px;
    margin-bottom: 20px;
}

.contenuto{
    background-color: blue;
    padding-bottom: 10px;
}

.contenuto .top{
    background-color: lightskyblue;
    height: 50px;
    margin-bottom: 10px;
}

/* parte FLOAT del contenuto */
.bottom .side,.center{
    background-color: lightskyblue;
    float: left;
}

.bottom .side{
    width: calc((100% / 4) - 10px);
}

.bottom .center{
    margin: 0 10px;
    width: calc((100% / 4) * 2);
}
/* FINE parte FLOAT del contenuto */


footer{
    background-color: lightcoral;
    height: 50px;
}