*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: grey;
    width: 80%;
    margin: auto;
}

header,main{
    margin: 20px 0;
}

header{
    background-color: hotpink;
    height: 100px;
}

main{
    background-color: indigo;
    height: 500px;
}

footer{
    background-color: lightcoral;
    height: 50px;
}