/* GENERALE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}
/* FINE GENERALE */

.container{
    background-color: grey;
    width: 80%;
    margin: auto;
}

header{
    background-color: hotpink;
    height: 100px;
    margin: 20px 0;
}

main{
    background-color: indigo;
    height: 500px;
    margin-bottom: 10px;
}

/* contenuto main */
.slider{
    background-color: lightgreen;
    height: 40%;
    margin-bottom: 20px;
}

.contenuto{
    background-color: blue;
    height: calc(60% - 20px);
}

.contenuto .top{
    background-color: lightskyblue;
    height: 20%;
    margin-bottom: 10px;
}

.contenuto .bottom{
    height: calc(80% - 10px);
}

.bottom .side{
    background-color: lightskyblue;
    width: calc(100% / 4);
    height: 100%;
}

footer{
    background-color: lightcoral;
    height: 50px;
}