*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: grey;
    width: 80%;
    margin: auto;
}

header{
    background-color: hotpink;
    height: 100px;
    margin: 20px 0;
}

main{
    background-color: indigo;
    height: 500px;
    margin-bottom: 10px;
}

/* contenuto main */
.slider{
    background-color: lightgreen;
    height: 40%;
    margin-bottom: 20px;
}

.contenuto{
    background-color: blue;
    height: calc(60% - 20px);
}

footer{
    background-color: lightcoral;
    height: 50px;
}